@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    margin: 0;
}
#main{
    background-image: url('img/bgMAIN.png');
}
#about{
    background-image: url('img/bgABOUT.png');
}
#skills{
    background-image: url('img/bgSKILLS.png');
}
#works{
    background-image: url("img/bgWORKS.png");
}
#reviews{
    background-image: url('img/bgCOMMENTS.png');
}

.main-block, .about-block, .skills-block, .works-block, .reviews-block{
    display: flex;
    align-items: center;
    justify-content:center ;
    min-height: 70vh;
}

.main-block{
    flex-direction: column;
    height: 100vh;
}